{##
 # Install a list of Debian packages.
 #
 # @param list pkgs Packaages to install
 # @param str apt_options Additional options to pass to `apt-get install`
 #}
{% macro apt_install(pkgs, apt_options='') %}
RUN apt-get update \
    && DEBIAN_FRONTEND=noninteractive \
    apt-get install {{ apt_options }} --yes \
    {%+ for pkg in pkgs %}
        {{ pkg }} \
    {% endfor %}
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*
{%- endmacro %}

{##
 # Clone a git repository and remove the git index after.
 #
 # @param str repo Git repository URL
 # @param str target Target directory for clone
 # @param str branch Tree'ish to checkout. None for HEAD (default).
 # @param bool continue End RUN block with a line continuation character
 #}
{% macro git_clone(repo, target, branch=None, continue=False) %}
RUN git clone {% if not branch %}--depth 1{% endif %} \
      {{repo}} \
      {{target}} \
    {% if branch %}
    && (cd {{target}} && git reset --hard {{branch}}) \
    {% endif %}
    && rm -rf {{target}}/.git {% if continue %}\{% endif %}
{% endmacro %}

{##
 # Install npm from integration/npm.git.
 #
 # @param str version Tree'ish to checkout
 #}
{% macro integration_npm(version) %}
{{ git_clone(
      "https://gerrit.wikimedia.org/r/p/integration/npm.git",
      "/srv/npm",
      branch=version,
      continue=True,
) }}
    && ln -s /srv/npm/bin/npm-cli.js /usr/bin/npm
{% endmacro %}

{##
 # Install composer from integration/composer.git.
 #}
{% macro integration_composer() %}
{{ git_clone(
    "https://gerrit.wikimedia.org/r/p/integration/composer.git",
    "/srv/composer",
    continue=True,
) }}
    && ln -s /srv/composer/vendor/bin/composer /usr/local/bin/composer
{% endmacro %}

{# vim:sw=4:ts=4:sts=4:et:ft=django: #}
